*{
    box-sizing: border-box;
}

body *{
    /* outline: 1px solid pink; */
}
div.container{
    width: 970px; 
    background-color: #245076;
}
    div.section1{
        
        height: 500px;
        background-color: none;
        
    }
        div.s1header{
            
            height:202px; 
        }
            .pythonpic{
                width: 450px;
                /* height: 230px; */
                display:inline-block;
            }
            div.headerright{
                display:inline-block;
                width: 350px;
                vertical-align: top;
                margin-left: 157px;
            }
                div.topnav{
                    padding:20px;
                    border-radius:9px ;
                    background-color: #444444;
                    width: 247px;
                }
            div.navbar ul{

                border-radius: 9px;
                
                width: 300px;
                padding: 0px;
                margin: 20px 0px 0px 94px;
                background-color: none;

            }
        .navbar{
            display: inline-block;
            vertical-align: top
            padding: 0px;
            margin: 0px 0px 0px 0px;
        }    
            .navbar .text{
                display:inline-block;
                color:white;
                font-size: 20px;
                font-family: arial;
                margin: 0px 15px;
                font: arial;
        } 
        .pythoninfo{
            display: inline-block;
            vertical-align: top;
            padding: 0px;
            margin: 0px 0px 0px 70px;
            font-size: 13px;
            font-family: arial;
            text-align: center;
            width: 448px;
            color: white;

            

        }    
            div.pythoninfo ul{

                border-radius: 9px;
                width: 300px;
                padding: 0px;
                margin: 0px 0px 0px 0px;
                background-color:none; 
                al: center;
            }
            .homebar .homebartext{
                display:inline-block;
                color:white;
                font-size: 25px;
                font-family: arial;
                margin: 8px 8px;
                font: arial;
            } 
            div.homebar{
                width: 800px;
                border-radius: 9px;
                display: block;
                width: 750;
                padding: 0px;
                margin: -14px 0px 0px 95px;
                background-color: #457DAD;
                height: 45px;
                box-shadow: 3px 3px;
                
                
                
            }
            .homebar ul{
                height: 45px;
            }
        .pitextcontain{
            text-align: center;
        }     
             .pitextcontain .text{
                display:inline-block;
                color:yellow;
                font-size: 20pt;
                font-family: arial;
                margin: 0px 15px;
                font: arial;
                text-align: center;
                font-style: italic;
            }



    div.section2{
        width: 970px;
        height: 240px; 
        background-color: white; 
    }
    div.section3{
        width: 970px;
        height: 120px;
        background-color: #245076;
        padding-bottom: 10px;

    }